<phpunit bootstrap="./test/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Unit testing tutorial">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="DB_FIXTURES_DIR" value="_fixtures" />

        <var name="DB_DBNAME" value="test" />
        <var name="DB_DSN" value="mysql:dbname=test;host=localhost" />
        <var name="DB_HOSTNAME" value="localhost" />
        <var name="DB_PASSWORD" value="root" />
        <var name="DB_USER" value="root" />
    </php>
</phpunit>
